.u-section-1 {
  background-image: linear-gradient(#478ac9, #00ec6f);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 32px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 683px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 7px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-family: Bungee;
  background-image: none;
  font-size: 4.9375rem;
  animation-duration: 1000ms;
  margin: 215px 52px 0 28px;
}

.u-section-1 .u-text-2 {
  font-family: Bungee;
  background-image: none;
  font-size: 4.9375rem;
  animation-duration: 1000ms;
  margin: -86px 52px 0 28px;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 25px 23px 0 0;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: -64px 23px 0 0;
}

.u-section-1 .u-btn-1 {
  align-self: center;
  animation-duration: 2750ms;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: "Black Han Sans";
  margin: 35px 32px 0 auto;
  padding: 10px 88px;
}

.u-section-1 .u-btn-2 {
  align-self: center;
  animation-duration: 2750ms;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: "Black Han Sans";
  margin: -49px 32px 0 auto;
  padding: 10px 88px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 683px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 417px;
  width: 417px;
  animation-duration: 1000ms;
  margin: 115px 77px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 386px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    width: 386px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 563px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    width: 311px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: 311px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 26px;
    padding-left: 26px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-1 .u-image-1 {
    height: 372px;
    width: 372px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 7px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 193px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(#1a1a1a, #1a1a1a);
}

.u-section-2 .u-sheet-1 {
  min-height: 807px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 5px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-text-1 {
  font-family: "Black Han Sans";
  font-size: 4.375rem;
  animation-duration: 1000ms;
  margin: 41px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: "Black Han Sans";
  font-size: 1.6875rem;
  animation-duration: 1000ms;
  margin: 20px 82px 0;
}

.u-section-2 .u-image-1 {
  width: 900px;
  height: 480px;
  animation-duration: 1500ms;
  margin: 39px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  animation-duration: 1000ms;
  font-family: "Open Sans", sans-serif;
  margin: 0 -406px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-2 .u-text-1 {
    margin-left: 182px;
    margin-right: 182px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 100px;
    margin-left: 182px;
  }

  .u-section-2 .u-image-1 {
    height: 475px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    margin-left: 292px;
    margin-right: 292px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 210px;
    margin-left: 292px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 380px;
    margin-right: auto;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 380px;
    margin-left: 382px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 300px;
    margin-left: 382px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 285px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 482px;
    margin-right: 482px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 400px;
    margin-left: 482px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 181px;
    margin-left: 400px;
  }
}.u-section-3 {
  background-image: linear-gradient(#1a1a1a, #1a1a1a);
}

.u-section-3 .u-sheet-1 {
  min-height: 680px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 5px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-text-1 {
  font-family: "Black Han Sans";
  font-size: 4.375rem;
  animation-duration: 1000ms;
  margin: 41px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: "Black Han Sans";
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 20px 76px 0;
}

.u-section-3 .u-image-1 {
  width: 900px;
  height: 339px;
  animation-duration: 1000ms;
  margin: 50px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  animation-duration: 1000ms;
  font-family: "Open Sans", sans-serif;
  margin: 8px -406px 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-3 .u-text-1 {
    margin-left: 182px;
    margin-right: 182px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 100px;
    margin-left: 182px;
  }

  .u-section-3 .u-image-1 {
    height: 475px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    margin-left: 292px;
    margin-right: 292px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 210px;
    margin-left: 292px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 380px;
    margin-right: auto;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 380px;
    margin-left: 382px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 300px;
    margin-left: 382px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 285px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 482px;
    margin-right: 482px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 400px;
    margin-left: 482px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 128px;
    margin-left: 400px;
  }
}.u-section-4 {
  background-image: linear-gradient(#1a1a1a, #1a1a1a);
}

.u-section-4 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: 5px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-4 .u-text-1 {
  font-family: "Black Han Sans";
  font-size: 4.375rem;
  animation-duration: 1000ms;
  margin: 41px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: "Black Han Sans";
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 20px 77px 0 74px;
}

.u-section-4 .u-image-1 {
  width: 900px;
  height: 713px;
  animation-duration: 1000ms;
  margin: 50px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  animation-duration: 1000ms;
  font-family: "Open Sans", sans-serif;
  margin: 5px -394px 20px -418px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-4 .u-text-1 {
    margin-left: 182px;
    margin-right: 182px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 100px;
    margin-left: 182px;
  }

  .u-section-4 .u-image-1 {
    height: 475px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-text-1 {
    margin-left: 292px;
    margin-right: 292px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 210px;
    margin-left: 292px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 380px;
    margin-right: auto;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 380px;
    margin-left: 382px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 300px;
    margin-left: 382px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 285px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 482px;
    margin-right: 482px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 400px;
    margin-left: 482px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 269px;
    margin-left: 400px;
  }
}.u-section-5 {
  background-image: linear-gradient(#1a1a1a, #1a1a1a);
}

.u-section-5 .u-sheet-1 {
  min-height: 314px;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: 5px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-5 .u-text-1 {
  font-family: "Black Han Sans";
  font-size: 4.375rem;
  animation-duration: 1000ms;
  margin: 41px 326px 0;
}

.u-section-5 .u-text-2 {
  font-family: "Black Han Sans";
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 20px 76px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-5 .u-text-1 {
    margin-left: 226px;
    margin-right: 226px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-text-1 {
    margin-left: 116px;
    margin-right: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 {
  background-image: linear-gradient(#478ac9, #00ec6f);
}

.u-section-6 .u-sheet-1 {
  min-height: 365px;
}

.u-section-6 .u-image-1 {
  width: 285px;
  height: 285px;
  animation-duration: 1000ms;
  margin: 55px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-family: "Black Han Sans";
  font-size: 3.5rem;
  animation-duration: 1000ms;
  margin: -272px 27px 0 596px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  background-image: none;
  min-height: 181px;
  margin: 12px 0 67px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 14px 30px 18px 17px;
}

.u-section-6 .u-text-2 {
  font-family: "Black Han Sans";
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-text-3 {
  animation-duration: 1000ms;
  margin: 12px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 423px;
  }

  .u-section-6 .u-group-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }
}color: green;